@model Facturacion_MVC.Models.TBLPRODUCTO
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_LayoutFacturacion.cshtml";
}

<h2 class="well">Ingreso producto</h2>

@using (Html.BeginForm("Nuevo", "TBLproducto", FormMethod.Post))
{
    <p>@Html.LabelFor(d => d.StrNombre) : @Html.TextBoxFor(d => d.StrNombre)</p>

    <p>@Html.LabelFor(d => d.StrCodigo) : @Html.TextBoxFor(d => d.StrCodigo)</p>

    <p>@Html.LabelFor(d => d.NumPrecioCompra) : @Html.TextBoxFor(d => d.NumPrecioCompra)</p>

    <p>@Html.LabelFor(d => d.NumPrecioVenta) : @Html.TextBoxFor(d => d.NumPrecioVenta)</p>

    <p> CATEGORIA : @Html.DropDownList("IdCategoria") </p>

    <p>@Html.LabelFor(d => d.StrDetalle) :<br /> @Html.TextAreaFor(d => d.StrDetalle)</p>

    <p>@Html.LabelFor(d => d.strFoto) : @Html.TextBoxFor(d => d.strFoto)</p>

    <p>@Html.LabelFor(d => d.NumStock) : @Html.TextBoxFor(d => d.NumStock)</p>

    <input value="Guardar" type="submit" class="btn btn-success" />
    <a class="btn btn-primary" href="~/TBLproducto">Retornar</a>

}